# Basic for loop

In [ ]:
animals = ['monkey', 'hippo', 'red panda', 'seal', 'horse', 'cat']

In [ ]:
for creature in animals:
    print(creature)

In [ ]:
for creature in animals:
    print(f"{creature.title()} is an animal on my list.")

# For loop with conditionals

In [ ]:
ages = [28, 19, 32, 30, 45, 52, 57, 45, 32, 33, 25, 22, 32]

In [ ]:
for age in ages:
    if age > 32:
        print(f"Person is {age} and is older than me.")
    elif age < 32:
        print(f"Person is {age} and is younger than me.")
    else:
        print(f"Person is {age} and is the same age as me.")

# Building a list

In [16]:
younger = []
for age in ages:
    if age < 32:
        younger.append(age)

print(younger)
len(younger)

[28, 19, 30, 25, 22]

5

In [19]:
older = [age for age in ages if age > 32]

print(older)
len(older)

[45, 52, 57, 45, 33]

5